#cross-button {
    transition: all 0.3s ease-in-out;
    z-index: 20;
  }
  
  #cross-button.floating {
    position: fixed;
    top: 20px; 
    right: 20px; 
    z-index: 20;
  }
  
  .zoom-buttons {
    position: fixed;
    top: 4.8%;
    left: 40%; 
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .zoom-buttons.hide {
    opacity: 0;
  }

  .mobilezoom-buttons{
    position: fixed;
    top: 50px; 
    left: 120px; 
     
  }
  .nextbutton {
    /* Add your button styles here */
    padding: 8px 16px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .nextbutton:hover {
    background-color: #45a049;
  }
  