@tailwind base;
@tailwind components;
@tailwind utilities;  


.dark {
  background-color: #111010;
  color: #f7fafc;
}

.dark-text {
  color: #000000;
}

@keyframes slide {
  from {
    transform: translateX(-100%);
    filter: brightness(0.5), blur(10px);
  }
  to {
    transform: translateX(0);
    filter: brightness(1), blur(0px);
  }
}

.slide {
  animation: slide 1s ease-out;
}