@tailwind base;
@tailwind components;
@tailwind utilities;  

body {
  overflow-x: hidden;
}

.dark {
  background-color: #111010;
  color: #f7fafc;
}

.dark-text {
  color: #000000;
}

@keyframes slide {
  from {
    transform: translateX(-100%);
    filter: brightness(0.5), blur(10px);
  }
  to {
    transform: translateX(0);
    filter: brightness(1), blur(0px);
  }
}

.slide {
  animation: slide 1s ease-out;
}

@media screen and (max-width: 600px){
  .text1 {
    margin-left: -9%;
  }
  .first {
    margin-left: 40px;
  }
}


@media (min-width: 1276px) {
  .newspaper-image {
    display: block;
  }
  body {
    overflow-x: hidden;
  }
  #pdf-modal {
    width: 50%;
    margin-right: 700px;
  }
  
}
@media (max-width: 1275px) {
  .newspaper-image {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  #pdf-modal {
    width: 50%;
    margin-right: 700px;
  }
  
}
@media screen and (max-width: 500px) {
  .mobilepdf {
    width: 82%;
    height: auto;
    top: 30px;
    left:20px;
  }
  body {
    overflow-x: hidden;
  }
  .mobilegrid {
    width: 70%;
  }
  .nextbutton {
    padding: 1px;
    font-size: smaller;
  }
  .pagination {
    padding: 10px;
    font-size: smaller;
  }
}
